body {
    width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
}

article img {
    float: left;
    margin-right: 30px;
}
p {
    font-size: 14px;
    line-height: 21px;
}
a {
    color: #276856;
    font-size: 14px;
}
a:hover {
    color: black;
}
h2 {
    font-size: 39px;
    line-height: 43px;
    letter-spacing: -1px;
}
article h2 {
    margin: 0;
}
.preview {
    float: right;
    width: 260px;
}
.continue :after {
    ')'
}
.continue :before {
     '('
}
.meta {
    padding-left: 0;
    margin-top: 0 0 8px;
}
.meta a, .post-info a {
    font-style: italic;
}

article .continue {
    float: right;

}
.meta li {
    display: inline;
}
.meta li:after {
    content: '\\';
}
.meta li:last-child:after {
    content: none;
}.post-info {
    background: #f3f3f3;
    color:#999 ;
    padding:3px ;
    float: left;
    font-size: 14px;
}
.post-info a{
     color: #999;
     text-decoration: none;
}
.body {
    clear: both;
    color: #575757 ;
}
