<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://sibrong.ams3.digitaloceanspaces.com/landing/coming_soon/assets/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <!-- Emmanuel: 8 - 4
        Gideon: 8 - 4
    Ruk: 6 - 6
    Abdul: 6 - 4 -->

  
    <div class="container">
      <div class="row">
        <div class="col col-md-6">
          <h1>Ruk & newsletter template coding service for agencies</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione,
            nesciunt. Quae libero, officiis suscipit magnam obcaecati laudantium
            ipsam saepe necessitatibus iure consequuntur voluptatem quidem
            numquam id odio eos repudiandae. Error.
          </p>
          <button class="btn btn-primary btn-lg" type="button">
            Order Now
          </button>
        </div>
        <div class="col col-md-6">
          <img
            class="img header-img"
            src="../assets/illu-man-desk.770a7253.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  
    <div class="container mt-5">
      <div class="row">
        <div class="col col-md-4">
          <!-- <img src="../assets/illu-man-desk.770a7253.svg" alt=""> -->
          <h1>Responsive design</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tempora
            omnis sequi perferendis expedita maxime quod reprehenderit ea! Dolor
            ad commodi officia nesciunt nihil sed possimus dolore aspernatur
            culpa reiciendis.
          </p>
          <button class="btn btn-lg btn-primary" type="button">Download</button>
        </div>
        <div class="col col-md-8">
          <div class="row">
            <div class="col col-md-6">
              <img
                src="../assets/icon-content-eCommerce-basket.4ef8042d.svg"
                alt=""
              />
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, tenetur impedit! Pariatur error eum dicta tempora
                earum iure beatae placeat vitae doloremque sunt. Excepturi,
                quis? Eos provident totam recusandae ab.
              </p>
            </div>
            <div class="col col-md-6">
              <img src="../assets/icon-content-editable.e2f97b6c.svg" alt="" />
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, tenetur impedit! Pariatur error eum dicta tempora
                earum iure beatae placeat vitae doloremque sunt. Excepturi,
                quis? Eos provident totam recusandae ab.
              </p>
            </div>
            <div class="col col-md-6">
              <img src="../assets/icon-content-save-time.accedd5f.svg" alt="" />
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, tenetur impedit! Pariatur error eum dicta tempora
                earum iure beatae placeat vitae doloremque sunt. Excepturi,
                quis? Eos provident totam recusandae ab.
              </p>
            </div>
            <div class="col col-md-6">
              <img src="../assets/icon-mobile-mail.50fe2732.svg" alt="" />
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, tenetur impedit! Pariatur error eum dicta tempora
                earum iure beatae placeat vitae doloremque sunt. Excepturi,
                quis? Eos provident totam recusandae ab.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col col-md-1">
                <p>Breaker 1</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 2</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 3</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 4</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 5</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 6</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 7</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 8</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 9</p>
            </div>
            <div class="col col-md-1">
                <p>Breake 10</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 11</p>
            </div>
            <div class="col col-md-1">
                <p>Breaker 12</p>
            </div>
            

          
        </div>
    </div> -->
  </body>
</html>
