<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Design templates</title>
    <link
      rel="stylesheet"
      href="https://sibrong.ams3.digitaloceanspaces.com/landing/coming_soon/assets/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
     <div class="container">
       <div class="row">
         <div class="col col-md-4">
           <h1>
              Ship email templates with your digital products quickly and easily.
           </h1>
             <p>
                <a class="link" href="https://craftingemails.com/design-email-template#hello">Let's talk 🚀</a>
             </p>
          </div>
            <div class="col col-md-8">
              <img
                 class="img header-img"
                 src="../components/groupsite-preview-template_3x (1).jpg" width="850px" 
                 alt=""
                 />
            </div>
           </div>
           <div class="container mt-5">
            <div class="row">
              <div class="col col-md-4 mon">
                <span style='font-size:100px;' class="will">&#9993;</span>
                <h4>
                  Welcome<br>
                  email templates
                </h4>
                  <p>
                    I enjoy talking with people about how to get started in (your area of business). My schedule is quite busy, but I would enjoy talking with you by phone. 
                  </p>
                  </div>
                  <div class="col col-md-4 mon">
                    <span style='font-size:100px;' class="will">&#10004;</span>
                    <h4 class="emphasis">
                      Onboarding<br>
                      email templates
                    </h4>
                    <p>
                      In an effort to be brief, or just out of carelessness, some business associates may send you an e-mail that asks you to respond without offering you enough information.
                    </p>
                    </div>
                    <div class="col col-md-4 mon">
                      <span style='font-size:100px;' class="will">&#128178;</span>
                      <h4>
                        Transactional<br>
                         email templates
                      </h4>
                      <p>
                        Exclusive information and subscriptions still have a robust role in online marketing for businesses. Hard-to-get information often sells via eBooks at a premium price [$97 to $497] per copy.
                      </p>

                    </div>
                    <div class="col col-md-4 mon">
                      <span style='font-size:100px;' class="will">&#128181;</span>
                      <h4>
                        Upselling<br>
                           email templates
                      </h4>
                      <p>
                        Your marketing plan outlines your marketing strategies and defines how much of your fiscal and human resources will benefit your company to invest and how.
                      </p>
           </div>
           <div class="container jumbotron text-center">
             <h1>
               <strong>
                We help SaaS, e-commerce, and startup companies to define their user’s flow by designing triggered emails that map the user’s journey and interactions.
               </strong>
             </h1>
           </div>

           <div class="container">
             <div class="row">
               <div class="col col-md-3">
                <span style='font-size:100px;'>&#128283;</span>
                      <h3>
                        Explore
                      </h3>
                      <p>
                        Start with user research to better understand your users’ needs and define business requirements.
                      </p>
                      <p>
                          Deliverables:<br>
                      <strong>
                        Personas, user flows.
                      </strong>
                      </p>
               </div>
               <div class="col col-md-3">
                <span style='font-size:100px;'>&#128283;</span>
                 <h3>
                    Copywriting
                 </h3>
                 <p>
                  Map content, define tone of voice, and optimize UX copy according to your user’s journey.
                 </p>
                 <p>
                  Deliverables: <br>
                  <strong>
                    Wireframes.
                  </strong>
                 </p>
               </div>
               <div class="col col-md-3">
                <span style='font-size:100px;'>&#128283;</span>
                <h3>
                Design
              </h3>
              <p>
               Design reusable components and email design systems inline with your brand guidelines.
              </p>
              <p>
               Deliverables:<br>
               <strong>
               High fidelity screens.
              </strong>
              </p>
               </div>
               <div class="col col-md-3">
                <span style='font-size:100px;'>&#128282;</span>
                 <h3>
                   Coding
                 </h3>
                 <p>
                  Convert designs into HTML and test their compatibility with major email clients & on mobile devices.
                 </p>
                 <p>
                   Deliverables:<br>
                   <strong>
                    HTML Code, Source code.
                   </strong>
                 </p>
               </div>
             </div>
           </div>
           <div class="container text-center">
             <h1 class="opp">
              <strong>
                Letʼs talk
              </strong>
             </h1>
             <p><a href="mailto:hello@craftingemails.com">hello@craftingemails.com</a></p>
           </div>
           <div class="footer">
            <p>© Copyright 2020 - All rights reserved.<br>
              hello@craftingemails.com</p>
          </div>
     </div>
  </div>
</div>
      
          </body>
          </html>